/* =========================== Team Page ==================================== */

.portrait {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
.jumbotron {
    background-color: #EBF0F2;
    color:#323232;
}
.container {
    color: #323232;
}
.social-icon {
    width: 20%;
    height: 20%;

}

/* =========================== /Team Page =================================== */


/* ========================================================================== */
/* Logo Navbar */
/* ========================================================================== */

.navbar-brand img {
    width:140px;
    margin-top: -13px;
}

.container{
  margin-top: 30px;
}
/*===============================*/
/*header*/
header{
background-image: url(http://images7.alphacoders.com/335/335115.jpg);
position: relative;
width: 100%;
background-position: top;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
height: 550px;
margin-top: -20px;
}
/*header*/
/*==================================*/

/*image */

.img-circle{
  width: 170px;
  height: 170px;
}

/*image */

/*=======================colonnes inferieurs============================*/

.col4{
margin-top: 35px;
}
.col5{
  margin-top: 35px;
}
.col6{
  margin-top: 35px;
}


/*=======================colonnes inferieurs============================*/


/* ========================================================================== */
/* Boutons Skillcode */
/* ========================================================================== */
#mode{
  width: 355px;
  margin-top: 263px;
}
button, .button {

    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Open Sans",Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 2rem;
    background-color: #0a7dbf;
    border-color: #fff;
    color: #fff;
    transition: background-color 300ms ease-out;

}

.button {
  margin: 15px 7px;
  border-radius: 8px;
}

.skillcode {
  background: #222 url(../img/skillcode-logo.svg )  9px center no-repeat;
  background-size: 20px 20px;
  padding: 13px 20px 13px 50px;
  background-size: 30px;
  transition: all 100ms linear;
  -webkit-transition: all 100ms linear;
}

.skillcode:hover {
  background: #222 url(../img/skillcode-logo.svg) 9px center no-repeat;
  background-size: 35px;
  padding: 13px 20px 13px 54px;
}

.skillcode:after {
  content: '' !important;
  width: 50px !important;
  height: 100% !important;
  background: #AD274E url(../img/right-arrow.svg) center center no-repeat !important;
  background-size: 25px !important;
  display: block !important;
  position: absolute !important;
  right: 4px !important;
  top: 0 !important;
  border-radius: 8px !important;
  z-index: -1 !important;
  transition: transform 200ms ease-out !important;
  -webkit-transition: transform 200ms ease-out !important;
}

.skillcode:hover::after {
  content: '' !important;
  width: 50px !important;
  height: 100% !important;
  background: #AD274E url(../img/right-arrow.svg) center center no-repeat !important;
  background-size: 25px !important;
  display: block !important;
  position: absolute !important;
  transform: translateX(43px) !important;
  top: 0 !important;
  border-radius: 8px !important;
  z-index: -1 !important;
}

/**, *::before, *::after {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}*/


/*=======================================

  titres navbar

  ======================================*/


  .headernavbar {
    font-size: 15px;
    color:#AD274E ;
  }


/*==========================*/
